body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #FFFFFF; }

.list ul li {
  padding-bottom: 0.85rem;
  padding-top: 0.85rem;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  align-items: center;
  -webkit-align-items: center;
  border-bottom: 1px solid #e5e5e5; }
  .list ul li .img_photo {
    width: 2.35rem;
    height: 2.35rem;
    border-radius: 0.2rem;
    margin-right: 0.6rem; }
    .list ul li .img_photo img {
      display: block;
      width: 100%; }
  .list ul li .article {
    flex-grow: 3;
    -webkit-flex-grow: 3; }
    .list ul li .article p:nth-child(1) {
      font-size: 0.85rem;
      color: #333333; }
    .list ul li .article p:nth-child(2) {
      font-size: 0.65rem;
      color: #999999; }
  .list ul li .arrow {
    color: #999999;
    vertical-align: middle; }

.list ul li:active {
  background: #F5F5F5; }
