# STS
.springBeans

# maven
target/
catalina.base_IS_UNDEFINED/

# eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
# mac
.DS_Store
/build/

