html {
  height: 100%;
  overflow: hidden; }

body {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background: #eeeeee; }

a {
  text-decoration: none; }

section {
  width: 94%;
  overflow: hidden;
  padding-left: 3.2%;
  padding-right: 3.2%;
  background: #fff;
  margin-bottom: 5px; }

.Cooperation {
  width: 100%;
  height: 40px;
  line-height: 40px;
  font-weight: 900;
  font-size: 14px;
  border-bottom: 1px solid #D9D9D9; }

div:nth-child(2) {
  border: none; }

.Cooperation a {
  color: #0000ff;
  font-weight: normal; }

.Cooperation a:active {
  background: #0000dd;
  color: #fff; }
