
var cart = {
	itemClasses: function(num) {
		var arr = [];
		var stars = Math.floor(num*2) / 2;
		var hasDecimal = stars % 1!== 0;
		var integer=Math.floor(stars);
		for (var i = 0; i <integer; i++) {
			arr.push('on');		
		}
		if (hasDecimal) {
			arr.push('half');
		}
		for (var i = arr.length; i <5; i++) {
			arr.push('off');
		}
		return arr;
	},
	fomatFloat: function(src,pos){   
       return Math.round(src*Math.pow(10, pos))/Math.pow(10, pos);   
    },
	praise:function(goodCommentNum,CommentNum) {
		var praise = goodCommentNum/CommentNum;
			praise = praise*100
			praise = parseInt(praise);
		return praise;
	},
	strReplace:function(str){
		//要替换为*号的内容
		var tmp=str.substring(1,str.length-1);
		//将其替换
		var content=str.replace(tmp,'****');
		return content;
	},
	round:function(num){
		var str = parseFloat(num/1000);
			str = str.toFixed(2);
		return str
	},
	splitStr: function(str){
		return str.split('|*|');
	},
	//计算购物车中当前产品的数量
	getCount: function (cartlist, id) {
	    var count = 0;
	    if (id) {
	      for (var i = 0; i < cartlist.length; i++) {
	        if (cartlist[i].id == id) {
	          count+= cartlist[i].count;
	        }
	      }
	    }
	    return count;
	},
	//计算订单中产品的总数
	getCartCount: function (cartlist) {
	    var count = 0;
	    for (var i = 0; i < cartlist.length; i++) {
	      count += cartlist[i].quantity;
	    }
	    return count;
	},
	//计算订单中某一分类下产品的总数
	getItemCount: function (id,cartlist) {
	    var count = 0;
	    if (id === null) return 0;
	    for (var i = 0; i < cartlist.length; i++) {
	        if (cartlist[i].categoryId == id) {
	          count+= cartlist[i].count;
	        }
	    }
	    return count;
	},
	//计算该商家下购物车里产品的总数
	getMerchantCount: function (id,cartObject) {
		if (cartObject === null) return 0;
	    var count = 0;
	    id = id.toString();
	    console.log(id)
	    var cartList = cartObject[id];
	    if (cartList) {
	    	for (var i = 0; i < cartList.length; i++) {
				count+= cartList[i].count;
  			}
  			// count = count + 1
	    }
	    return count;
	},
	payDesc: function(totalprice,minprice) {
		if (totalprice===0) {
			return '¥' + minprice+'元起送';
		}else if(totalprice < minprice){
			var dif=minprice - totalprice;
			return '还差¥'+ dif + '元';
		}else{
			return '去结算';
		}
	},
};
module.exports = {
  itemClasses: cart.itemClasses,
  fomatFloat: cart.fomatFloat,
  praise: cart.praise,
  splitStr:cart.splitStr,
  getCount:cart.getCount,
  getCartCount:cart.getCartCount,
  getItemCount:cart.getItemCount,
  getMerchantCount:cart.getMerchantCount,
  strReplace:cart.strReplace,
  payDesc:cart.payDesc,
  round:cart.round
};