.container {
	position: fixed;
	top: 0;
	bottom:0;
	background: #f5f5f5;
	font-size: 0.32rem;
	color: #666;
}
.question-content {
	padding: 0 0.37rem;
	margin-top: 0.28rem;
	background: #fff;
}
.question-item {
	padding-bottom: 0.53rem;
}
.question-top {
	padding-top: 0.53rem;
	letter-spacing: 2px;
}
.indent {
	text-indent: 0.56rem;
}
.title{
	font-size: 0.32rem;
	color: #ff5959;
}