.container {
	width: 100%;
	height: auto;
	background: #f5f5f5;
}
.service-header {
	width: 100%;
	height: 2.1rem;
	/*padding: 0.58rem 0 0.56rem 0.43rem;
	background: #ff9a02;*/
	background: url(../../../images/userVersion/top.png) no-repeat;
	background-size:100%; 
}
.header-img {
	display: inline-block;
	height: 1.3rem;
	width: 1.3rem;
	border-radius: 1.3rem;
	overflow: hidden;
}
.header-content {
	display: inline-block;
	margin: 0.26rem 0 0 0.47rem;
}
.header-content p{
	height: 0.9rem;
	line-height: 0.9rem;
	width: 5.46rem;
	text-indent: 0.50rem;
	color: #fff;
	font-size: 11px;
	font-weight: 500;
	background: #ffae35;
}
.question {
	height:0.92rem;
	line-height:0.92rem;
	color: #ff9900;
	font-size: 15px;
	font-weight: 500;
	text-indent: 0.86rem;
}
.service-content {
	display: flex;
	padding: 0.4rem 0 0.53rem 0.51rem;
	background: #fff;
}
.service-text {
	letter-spacing: 2px;
	font-size: 0.28rem;
	font-family: "黑体";
	color: #333;
}
.service-left {
	height: 1.2rem;
}
.left-img1 {
	background:url(../../../images/userVersion/account@2x.png) no-repeat center 0;
	background-size: 0.8rem;
}
.left-img2 {
	background:url(../../../images/userVersion/activity@2x.png) no-repeat center 0;
	background-size: 0.8rem;
}
.left-img3 {
	background:url(../../../images/userVersion/xiadan@2x.png) no-repeat center 0;
	background-size: 0.8rem;
}
.left-img4 {
	background:url(../../../images/userVersion/proposal@2x.png) no-repeat center 0;
	background-size: 0.8rem;
}
.service-right {
	margin-left: 0.96rem;
}
.txt2 {
	margin-top: 0.12rem;
	color: #666;
}
.txt3 {
	margin-top: 0.44rem;
	color: #666;
}
.serive-call {
	margin: 2.3rem auto 0.28rem auto;
	width: 9.2rem;
	height: 1.12rem;
	line-height: 1.12rem;
	border-radius: 4px;
	text-align: center;
	background: #ff9900;
}
.serive-call-text {
	display: inline-block;
	vertical-align: middle;
	margin-left: 12px;
	color:#fff;
	letter-spacing: 2px;
}
.serive-call-img {
	display: inline-block;
	/*width: 30rpx;
	height: 30rpx;*/
	vertical-align: middle;
}