html {
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.container {
	width:100%;
	height:100%;
	position:relative;
	top:0px;
	left:0px;
}
.imgload{
	 width:100%;
	 height:882px;
	 position: absolute;
	 left:0px;
	 top:0px;
}
.imgload img{
	display: block;
	width:100%;
	height:100%;
}
.header{
	width:100%;
	height:46px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	color:#e08600;
	font-size: 17px;
	font-family: "黑体";
	line-height: 46px;
	text-align: center;
	position: absolute;
	top:113px;
	left:0px;
}
.money_market{
	width:100%;
	height:113px;
	margin:0 auto;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	line-height: 113px;
	color:#e74e3e;
	font-size: 24px;
	font-family: "黑体";
	text-align: center;
	position: absolute;
	top:165px;
	left:0px;
}
.money_market span{
	display: block;
	padding-left:1.7%;
	padding-right:0.7%;
	font-size: 50px;
	color:#e74e3e;
	font-family: "黑体";
}
.saoyisao{
	width:100%;
	height:171px;
	margin:0 auto;
	position: absolute;
	top:375px;
	left:0px;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}
.saoyisao img{
	display: block;
	width:171px;
	height:171px;	
	margin:0 auto;
}
.click_timelong{
	width:100%;
	height:15px;
	position: absolute;
	top:568px;
	left:0px;
	line-height: 15px;
    color:#ffffff;
    font-size: 12px;
    font-family: "黑体";
    text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}
.file_contain{
	width:91.5%;
	height:207px;
	padding-left:4%;
    padding-right:4%;
	position: absolute;
	top: 613px;
	left:0px;
	text-align: center;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
}
#active_outhor{
	width:100%;
    border:none;
	text-align: center;
	border-top:1px solid #a8291b;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	
}
#active_outhor legend{
	padding-left:10px;
	padding-right:10px;
	color:#ffffff;
	font-size: 17px;
	font-family: "黑体";
}
.items{
	width:100%;
	height:103px;
	text-align: left;
	padding-left:10%;
}

.items p{
	color:#FFFFFF;
	font-size: 12px;
	font-family: "黑体";
	margin-bottom:15px;
	line-height:15px;
}
.items p:nth-child(1){
		margin-top:32px;
	 }
.introd{
	width:100%;
	height:13px;
	font-size: 9px;
	color:#FFFFFF;
	font-family: "黑体";
	margin-top:40px;
}
