html{
    
}
body{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #FFFFFF;
}
.container{
    
}
.list{
    ul{
        li{
            padding-bottom: 0.85rem;
            padding-top: 0.85rem;
            display: flex;
            display: -webkit-flex;
            display: -moz-flex;
            align-items: center;
            -webkit-align-items: center;
            border-bottom: 1px solid #e5e5e5;
            .img_photo{
                width: 2.35rem;
                height: 2.35rem;
                border-radius: 0.2rem;
                margin-right: 0.6rem;
                img{
                    display: block;
                    width: 100%;
                }
            }
            
            .article{
                flex-grow: 3;
                -webkit-flex-grow: 3;              
                p:nth-child(1){
                    font-size: 0.85rem;
                    color: #333333;
                    //margin-bottom: 0.65rem;              
                }
                p:nth-child(2){
                    font-size: 0.65rem;
                    color: #999999;
                }
            }
            .arrow{
                color: #999999;
                vertical-align: middle;
            }
        }
        li:active{
            background: #F5F5F5;
        }
    }
}
