body {
    margin: 0 auto;
    width: 100%;
    height:100%;
    background:#CE3A37 url(../../../../images/merchant/register20170724001.png) no-repeat left top;
    background-size:100%;
}
.container{
    width:100%;
    height:100%;
    overflow: hidden;
}
.content{
    margin-top:67%;
    overflow: hidden;
    p{
        width: 100%;
        font-size: 0.7rem;
        color: #fe5051;
        text-align: center;
        
    }
}
.down_btn{
    display: block;
    width: 82%;
    margin:6.05rem 9% 0.75rem;
    height: 2.75rem;
    background: url(../../../../images/merchant/registerbtn20170724002.png) no-repeat;
    background-size:100% 2.75rem;
    color: #ce3a37;
    font-size: 1.05rem;
    text-align: center;
    line-height: 2.7rem;
    font-family: "微软雅黑";
}
.txt{
    width: 100%;
    font-size:0.7rem;
    color: #FFFFFF;
    text-align: center;
}
