
body {
  margin: 0 auto;
  width: 100%;
  height:100%;
  background: #ED304E url(../../../../images/background_img001100.png) no-repeat left top !important;
  background-size:100% !important;
}
.container {
  width:100%;
  height:100%;
  overflow: hidden;
}
.bg_lottery{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg_lottery img{
  display: block;
  width:100%;
  height:100%;
}
.content{
  width: 100%;
  height:100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
.turn_pan{
  width: 16rem;
  margin: 0 auto;
  margin-top: 44%;
  height: 16rem;
  overflow: hidden;
  background: url(../../../../images/bg_lottery_shaow.png) no-repeat;
  background-size:100% 100% ;
}
.turn_light{
  width: 16rem;
  margin:0 auto;
  height: 16rem;
  overflow: hidden;
  background: url(../../../../images/lottery1.png) no-repeat;
  background-size:100% 100% ;
  position: relative;
}
#disk{
  width: 16rem;
  margin:0 auto;
  height: 16rem;
  overflow: hidden;
  background: url(../../../../images/turn_pan_goods.png) no-repeat;
  background-size:100% 100% ;
}
#startbtn{
  display: block;
  position: absolute;
  top:32%;
  left: 36%;
  z-index: 100;
  width: 5rem;
  margin:0 auto;
  height: 5rem;
  z-index: 10;
  background: url(../../../../images/turn_btn.png) no-repeat;
  background-size:100% 100%;
  outline: none;
  border: none;
  -webkit-tap-highlight-color:rgba(255,255,255,0);
}
.peopleNum{
  width: 9rem;
  height: 1.5rem;
  border: 2px dotted #F9EFC4;
  border-radius: 0.4rem;
  margin:0 auto;
  text-align: center;
  line-height: 1.4rem;
  font-size: 0.75rem;
  color: #FFFFFF;
  font-family: "黑体";

}
.peopleNum span{
  color: #faff65;
}
.record_lottery{
  display: block;
  width: 14.8rem;
  height: 2.2rem;
  margin:1.3rem auto 0.6rem;
  background: url(../../../../images/luckdraw/20180319001btn.png);
  background-size:100% 100% ;
  -webkit-tap-highlight-color:rgba(255,255,255,0);
}
.record_lottery:active{
  display: block;
  width: 14.9rem;
  height: 2.2rem;
  margin:1.3rem auto 0.6rem;
  background: url(../../../../images/luckdraw/20180319001btn.png);
  background-size:100% 100% ;
}
.lotteryrules_entry{
  width: 4.25rem;
  height: 4rem;
  position: absolute;
  right: 0rem;
  z-index: 11111;
  margin-right: 0rem;
}
.lotteryrules_entry_roll{
  width: 4.25rem;
  height: 4rem;
   background: url(../../../../images/entry201702151805.png) no-repeat center;
   background-size: 100% 100%;
  float: right;
  margin-top: -7.5rem;
}
.getPeopele{
  width: 100%;
  text-align: center;
  text-decoration: underline;
  color: #F9FF65;
}
/*名单*/
.lottery_name{
  width: 92%;
  height:10.65rem;
  margin: 1.5rem auto 1.5rem;
  border-radius:0.4rem ;
  background: #C81330;
  padding: 1.5rem 1rem 1.5rem;
  .ul_top{
    li{
      float: left;
      width: 50%;
      text-align:center;
      font-size: 0.9rem;

    }
    li:nth-child(1){
      border-right: 0.025rem solid #FFFfff;
    }
    .active{
      color: #EDD65A;
    }
    .notActive{
      color:#FFFfff;
    }
  }
  /*名单*/
  .ul_name{
    margin-top: 1.5rem;
    text-align: center;
    li{
      color:#FFFfff;
      font-size: 0.5rem;
      line-height: 1.5rem;
      span:nth-child(1){
        padding: 0rem 0.55rem 0rem;
      }
       span:nth-child(2){
        color: #F5B819;
         padding: 0rem 1.25rem 0rem 0.55rem;
      }
    }
  }
}
