html,body{
    height: 100%;
    overflow: hidden;
    
}
.swiper-container{
    width: 100%;
    height: 100%;
.swiper-wrapper{
    width: 100%;
    height: 100%;
.swiper-slide{
    width: 100%;
    height: 100%;
   
.img3{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}
.page1{
    position: relative;
    z-index: 5;
    width: 90%;
    height: 3rem;
    left: 0.4rem;
    line-height: 1rem;
    font-size: 0.56rem;
    color: #FFFFFF;
    font-family: "造字工房力黑";
    font-weight: bold;
    top: 1rem;
    background: url(../../../images/20170302h5013.png) no-repeat;
    background-size:100% 100%;
    
span{
    color: #fb965f;
    font-size: 0.8rem;
}
}
.page2{
    position: relative;
    z-index: 5;
    width: 90%;
    left: 0.4rem;
    line-height: 1rem;
    font-size: 0.56rem;
    color: #000000;
    font-family: "造字工房力黑";
    font-weight: bold;
    top: 1rem;
    height: 4rem;
    background: url(../../../images/marketing/20170303h501.png) no-repeat;
    background-size: 100% 100%;
    
span{
    color: #fb965f;
    font-size: 0.8rem;
}
}
h1,h2{
    position: relative;
    z-index: 5;
    width: 100%;
    text-align: center;
    line-height: 1rem;
    font-size: 0.56rem;
    color: #000000;
    font-family: "造字工房力黑";
    font-weight: bold;
    top: 1.6rem;
}
h1{
   height: 2rem;
   margin-bottom: 0.2rem;
   color: #333333;
   background: url(../../../images/marketing/20170303h502.png) no-repeat center;
   background-size:90% 90%;
}
.page3{
    position: relative;
    z-index: 5;
    width: 100%;
    text-align: center;
    font-size: 0.52rem;
    font-family: "迷你简准圆";
    top: 1.6rem;
    color: #a43d05;
    span{
        font-size:0.32rem;
    i{
        font-style: normal;
    }
    }
}
.img_car{
    position: relative;
    z-index: 5;
    width: 84%;
    text-align: center;
    font-size: 0.52rem;
    font-family: "迷你简准圆";
    top: 1.6rem;
    height: 3.6rem;
    margin-top: 0.8rem;
    left: 0.3rem;
}
.page4{
    position: relative;
    z-index: 5;
    width: 100%;
    text-align: center;
    font-size: 0.4rem;
    font-family: "迷你简准圆";
    top: 1.6rem;
    margin-top: 1rem;
    color: #333333;
    button{
        width: 4rem;
        height:0.8rem;
        background: #9f573c;
        border-radius: 0.4rem;
        color: #FFFFFF;
        text-align: center;
        font-size: 0.4rem;
        border: none;
        margin-bottom: 0.3rem;
    }
}
.page5{
    position: relative;
    z-index: 5;
    width: 100%;
    text-align: center;
    font-size: 0.88rem;
    font-family: "造字工房郎倩";
    top: 1.6rem;
    font-weight: bold;
    color: #333333;
    margin: 0px;
   
}
.page4_1{
    height: 1.3rem;
    background: url(../../../images/marketing/20170303h503.png) no-repeat center;
    background-size:90% 80%;
}
.page4_2{
    height: 1.3rem;
    background: url(../../../images/marketing/20170303h504.png) no-repeat center;
    background-size:90% 80%; 
}
.page6{
    top: 2.4rem;
}
.page5_1{
    height: 1.3rem;
    background: url(../../../images/marketing/20170303h505.png) no-repeat center;
    background-size:90% 80%; 
}
.page5_2{
    height: 1.3rem;
    background: url(../../../images/marketing/20170303h506.png) no-repeat center;
    background-size:90% 80%; 
}
.page7{
    top: 1.6rem;
    span{
        color: #FFFFFF;
    }
}
.page6_1{
    height: 1.3rem;
    background: url(../../../images/marketing/20170303h507.png) no-repeat center;
    background-size:90% 80%; 
}
.page6_2{
    height: 1.3rem;
    background: url(../../../images/marketing/20170303h508.png) no-repeat center;
    background-size:90% 80%; 
}
.page7_8{
    position: relative;
    z-index: 5;
    width: 100%;
    text-align: center;
    font-size: 0.88rem;
    font-family: "造字工房郎倩";
    top: 1.6rem;
    font-weight: bold;
    color: #e95603;
    margin-bottom: 0.8rem;
    height:1rem ;
    background: url(../../../images/marketing/20170303h509.png) no-repeat center;
    background-size:82% 100%;
}
.page8{
    position: relative;
    z-index: 5;
    width: 100%;
    text-align: center;
    font-size: 0.42rem;
    font-family: "造字工房郎倩";
    top: 1.6rem;
    font-weight: bold;
    li{
        list-style: none;
        display: flex;
        display: -webkit-flex;
        margin-bottom: 0.7rem;
        span{
            display: block;
            width: 0.58rem;
            height: 0.58rem;
            border-radius: 50%;
            color: #FFFFFF;
            margin-right: 0.2rem;
            background: #a43c08;
        }
        i{
           display: block;
           font-style: normal;
           text-align: left;
        }
    }
    
}
.page8_1{
    position: absolute;
    z-index: 5;
    width: 90%;
    text-align:justify;
    font-size: 0.4rem;
    left: 5%;
    font-family: "迷你简准圆";
    bottom: 1.8rem;
    color: #FFFFFF;
}
.page9_1{
    position: relative;
    z-index: 5;
    width: 100%;
    text-align:center;
    font-size: 0.88rem;
    font-family: "造字工房郎倩";
    top: 1.6rem;
    color: #e85603;
    font-weight: bold;
    height:1rem ;
    background: url(../../../images/marketing/20170303h5010.png) no-repeat center;
    background-size:82% 94%;
}
.page9_2{
    position: relative;
    z-index: 5;
    width: 100%;
    text-align:center;
    font-size: 0.43rem;
    font-family: "造字工房郎倩";
    top: 1.6rem;
    color: #333333;
    font-weight: 900;
}
.img1{
    position: absolute;
    left: 44%;
    bottom: 5%;
    transform: translateX(-50%);
    width: 1rem;
    z-index: 5;
}
#addform{
    position: relative;
    width: 9rem;
    padding: 1rem 8% 1rem 8%;
    z-index: 5;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: space-around;
    top: 1.6rem;
    background: rgba(99, 99, 99, 0.2);
   
   left: 0.5rem;
.form-group{
    margin-bottom: 0.8rem;
    height: 1rem;
    input{
       height: 1.1rem; 
       line-height: 1.1rem;
       font-size: 0.5rem; 
       color: #999999;
       
    }
    .input-lg{
         padding: 0rem;
         padding-left: 0.3rem;
    }
    select{
       height: 1.1rem; 
       line-height: 1.1rem;
       font-size: 0.5rem;
       padding: 0rem; 
       color: #999999;
    }
    
}
.btn{
        height: 1.1rem;
        background: #9f573c;
        color: #FFFFff;
    }
    
    
}
.zhezhao{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0rem;
        right: 0rem;
        left: 0rem;
        bottom: 0rem;
        background: rgba(0,0,0,0.8);
        z-index: 10;
    img{
        position: absolute;
        right: 0rem;
        width: 90%;
        right: 5%;
        
    }
    }

    }
    .slide1{
        background: url(../../../images/20170302h501.png) no-repeat;
        background-size: 100% 100%;
    }
    .slide2{
         background: url(../../../images/20170302h502.png) no-repeat;
        background-size: 100% 100%;
    }
    .slide3{
        background: url(../../../images/20170302h503.png) no-repeat;
        background-size: 100% 100%;
    }
    .slide4{
        background: url(../../../images/20170302h504.png) no-repeat;
        background-size: 100% 100%;
    }
    .slide5{
        background: url(../../../images/20170302h505.png) no-repeat;
        background-size: 100% 100%;
    }
    .slide6{
        background: url(../../../images/20170302h506.png) no-repeat;
        background-size: 100% 100%;
    }
    .slide7{
        background: url(../../../images/20170302h507.png) no-repeat;
        background-size: 100% 100%;
    }
//  .slide8{
//      background: url(../../../images/20170302h508.png) no-repeat;
//      background-size: 100% 100%;
//  }
    .slide9{
        background: url(../../../images/20170302h5012.png) no-repeat;
        background-size: 100% 100%;
        min-height: 15rem !important;
    }
//  .slide10{
//     background: url(../../../images/20170302h509.png) no-repeat;
//      background-size: 100% 100%; 
//  }
    
    
    
    
    
}
}

.jumptoapp{
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: 100%;
    height: 1.6rem;
    display: flex;
    display: -webkit-flex;
    z-index: 10;
   background: rgba(33,33,33,0.5);
  padding-left: 1%;
  padding-right: 1%;
  margin: 0 auto;
.jumptoapp_logo{
    width: 1.3rem;
    height: 1.3rem;
    align-self: center;
   border: 0.015rem solid #ddd;
   background: url(../../../images/ma.jpg) no-repeat;
   background-size: 100% 100%;
   border-radius: 0.3rem;
}   
.jumptoapp_pro{
    align-self: center;
    padding-top: 0.2rem;
    height: 1.58rem;
    font-size: .3rem;
    color: #fff;
    margin-left: 0.2rem;
    font-family: "黑体";
} 
.jumptoapp_down{
  align-self: center;
  width: 2rem;
  height: 0.8rem;
  line-height: 0.8rem;
  font-size: 0.36rem;
  color: #000;
  font-family: "黑体";
  border: 0.015rem;
  border-radius:0.2rem;
  background: #FC945D;
  text-align: center;
  margin-left: 3.7rem;  
}

.jumptoapp_close{
    border-radius: 50%;
    background: #FFFFFF;
    color: #999999;
    align-self: flex-start;
    margin-left: 0.1rem;
    text-align: center;
    line-height: 0.5rem;
    margin-top: 0.1rem;
    width: 0.5rem;
    height: 0.5rem;
    line-height: 0.5rem;
}
}

/*cover*/
#cover {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
}

#cover>img {
    display: block;
    width: 70%;
    position: absolute;
    top: 1%;
    right: 7.2%;
}
.img2{
    position: fixed;
    top: 1%;
    right: 1%;
    width: 1.4rem;
    background: rgba(0,0,0,0.4);
    border-radius: 50%;
    animation: move 2s infinite linear;
    z-index: 10;
}
@keyframes move{
    to{transform: rotate(360deg);}
}

