html{
	font-size: 75px;
}
body {
	margin: 0 auto;
	width: 100%;
	height:100%;
	background:#FFFFFF;
	font-family: "黑体";
}
.container {
	width:92%;
	height:100%;
	padding: 0rem 4% 0.4rem;
	margin: 0 auto;
	overflow: hidden;
}

header h1{
	width:100%;
	padding-top: 0.5rem;
	font-size: 0.4rem;
	font-weight: bold;
	color: #333333;
}
header h2{
	width:100%;
	padding-top: 0.5rem;
	font-size: 0.4rem;
	font-weight: bold;
	color: #333333;
	margin-bottom: 0.3rem;
}
.headertitle{
	padding:0.3rem 0rem 0.2rem;
	font-size: 0.32rem;
	font-weight: bold;
	color: #333333;
}

.articles{
	font-size: 0.32rem;
	color: #333333;
	line-height: 0.5rem;
}

.header_main{
	font-size: 0.4rem;
	font-weight: bold;
	color: #333333;

	/*text-decoration: underline;
	-webkit-text-decoration:#33cc66;*/
}
b{
	padding-bottom: 0.05rem;
	border-bottom: 0.03rem solid #33cc66;
}
.b_col{
	border-bottom: 0.03rem solid #FF9A00 !important;
}
.indent_text{
	text-indent: 0.6rem;
}
.margin_text{
	margin-top: 0.4rem;
}
i{
	font-style: normal;
	color: #33cc66;
}
.i_col{
	color:#FF9A00 !important;
}
.list_item{
	color: #666666;
	font-size: 0.3rem;
	text-indent: 0.3rem;
}
.mar_text{
	margin-top: 0.3rem;
}
.text_color{
	color: #33cc66;
	margin:0.5rem 0rem 0rem 0rem ;
}
.text_col{
	color: #FF9A00 !important;
}
a{
	color: #33cc66;
}
