html {
	height: 100%;
	overflow: hidden;
	}
			
body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background:#ffffff;
}
.container{
    overflow: hidden;
    padding-left:3.2%;
    padding-right:3.2%;
    
}
.left{
	float:left;
}
.PayProdects{
	
	overflow: hidden;
}
h1{
	width:100%;
	height:10px;
	background:#efefef;
}
.PayProdects span:nth-child(n+1){
	display: block;
	
}
.PayProdects h2{
	line-height:20px;
	padding-bottom:0px;
	color:#585757;
	font-size:15px;
	padding-top:11px;
}	
.PayProdects h2 i{
	font-style: normal;
	color:#2E97D4;
	font-weight: 900;
}
.PayProdects span{
	color:#898989;
	font-size: 12px;
	line-height: 21px;
	padding-top: 9px;
}
.PayProdects span em{
	padding:5px;
	padding-left:20px;
	padding-bottom:6px;
	text-align: center;
	color:#898989;
}
.PayProdects span b{
	font-weight: normal;	
}
.Right_int{
	padding-top:15px;
	
}
.Right_inttext{
	width:100%;
	text-align: center;
	color:#585757;
	background:url(../img/000_03.png) repeat-x left center;
	font-size: 12px;
	margin-bottom:30px;
}
/*.Right_inttext .Right_inttit{
  background:#fff;
  margin:0 auto;
   
}*/
.Right_inttext .Right_inttit i{
	font-style: normal;
	background:#fff;
}


