html {
	height: 100%;
	overflow: hidden;
	}
			
body {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background:#efefef;
}
.container{
    overflow: hidden;
    padding-left:12%;
    padding-right:12%;  
    padding-top:15px;
}

.container_box{
	border:1px solid #858585;
	padding-top:18px;
	padding-left:7%;
	padding-right:7%;
	background:#ffffff;
}
.container_box header{
	text-align: center;
	font-size: 23px;
	color:#383835;
	font-weight: 900;
}
.Sale_box{
	margin-top:15px;
}
.Sale_box .detail_add{
	background:url(../../../../images/item/00111bbbbbb.png) repeat-x left center;
	text-align: center;
}
.Sale_box .detail_add i{
	font-style: normal;
	background:#fff;
	padding-left:4px;
	padding-right:3px;
	color:#383737;
	font-size: 14px;
}
.Sale_box .detial_list{
	font-size: 14px;
	color:#383737;
	margin-top:10px;
	margin-bottom:15px;
	
}
.Sale_box .detail_listt{
	margin-bottom:30px;
}
.Sale_box .detail_listth{
	margin-bottom:30px;
}
.Sale_box .detail_listth .price{
	font-size: 18px;
}
.Sale_boxt{
	
}
.Sale_boxt .detail_add{
	height:14px;
}
.market_list{
	width:56%;
	margin:15px auto;
	background:url(../../../../images/item/000_03.png) repeat-x left center;
	text-align: center;
}
.market_list i{
	font-style: normal;
	background:#fff;
}
.others i{
	font-style: normal;
	font-size: 14px;
	color:#383737;
}
.detail_flex{
	display: -webkit-flex;
	display: flex;
	justify-content:space-between;
	
}
.others{
	margin-bottom:15px;
}
.detail_addxiao{
	font-size: 11px;
	width:47%;
	margin:0 auto;
	margin-top:15px;
	margin-bottom:26px;
	background:url(../../../../images/item/00111xxxx.png) repeat-x left center;
	text-align: center;
}
.Sale_box .detail_addxiao i{
	display: inline-block;
	font-style: normal;
	font-size: 11px;
	color:#383737;
	padding-left: 2px;
	padding-right: 2px;
}
