@charset "UTF-8";
html {
  font-family: "黑体"; }

body {
  width: 100%;
  height: 100%;
  background: #FFFFFF; }

.container {
  padding-bottom: 2rem; }

.eveal {
  border-bottom: 1px dashed #E5E5E5;
  overflow: hidden; }
  .eveal .eveal_all {
    font-size: 0.7rem;
    color: #333333;
    font-weight: bold; }
  .eveal .eveal_contain {
    display: flex;
    display: -webkit-flex; }
    .eveal .eveal_contain .eveal_personphoto {
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 50%;
      margin-right: 0.5rem; }
    .eveal .eveal_contain .eveal_list_person {
      width: 100%;
      overflow: hidden; }
      .eveal .eveal_contain .eveal_list_person .eveal_name_time {
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        align-items: center;
        -webkit-align-items: center; }
        .eveal .eveal_contain .eveal_list_person .eveal_name_time p:nth-child(1) {
          font-size: 0.75rem;
          color: #333333; }
        .eveal .eveal_contain .eveal_list_person .eveal_name_time p:nth-child(2) {
          font-size: 0.6rem;
          color: #999999;
          margin-right: 0.5rem; }
      .eveal .eveal_contain .eveal_list_person .eveal_score_person {
        display: -webkit-flex;
        display: flex; }
        .eveal .eveal_contain .eveal_list_person .eveal_score_person .eveal_score {
          margin-top: 0.25rem;
          width: 2.95rem;
          height: 0.5rem;
          background: url(../../../images/merchant/star002.png) no-repeat;
          background-size: 2.95rem 0.5rem;
          margin-right: 0.5rem; }
          .eveal .eveal_contain .eveal_list_person .eveal_score_person .eveal_score span {
            display: block;
            width: 2rem;
            height: 0.5rem;
            background: url(../../../images/merchant/star001.png) no-repeat;
            background-size: 2.95rem 0.5rem; }
        .eveal .eveal_contain .eveal_list_person .eveal_score_person p {
          font-size: 0.55rem;
          color: #666666;
          height: 0.55rem;
          margin-top: 0.25rem; }
      .eveal .eveal_contain .eveal_list_person .eveal_content {
        font-size: 0.65rem;
        color: #666666;
        margin-top: 0.35rem; }
      .eveal .eveal_contain .eveal_list_person .environment {
        margin-top: 0.6rem;
        font-size: 0.6rem;
        color: #999999; }
        .eveal .eveal_contain .eveal_list_person .environment span {
          margin-right: 0.3rem; }
          .eveal .eveal_contain .eveal_list_person .environment span i {
            font-style: normal; }
      .eveal .eveal_contain .eveal_list_person .eveal_photos {
        overflow: hidden;
        margin-top: 0.5rem; }
        .eveal .eveal_contain .eveal_list_person .eveal_photos img {
          width: 4.1rem;
          height: 4.0rem;
          margin-right: 0.85rem;
          margin-bottom: 0.75rem;
          border-radius: 0.2rem; }

.procook {
  display: flex;
  display: -webkit-flex; }
  .procook img {
    display: block;
    width: 4.25rem;
    height: 3.25rem;
    margin-right: 0.75rem; }
  .procook .procook_pro {
    flex: 1; }
    .procook .procook_pro .procook_title {
      font-size: 0.85rem;
      color: #333333;
      margin-bottom: 0.4rem; }
    .procook .procook_pro .procook_address {
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      align-items: center;
      -webkit-align-items: center; }
      .procook .procook_pro .procook_address p:nth-child(1) {
        font-size: 0.7rem;
        font-size: #666666; }
        .procook .procook_pro .procook_address p:nth-child(1) span {
          margin-right: 0.5rem; }
      .procook .procook_pro .procook_address p:nth-child(2) {
        font-size: 0.55rem;
        color: #666666; }

.border {
  border-top: 1px solid #e5e5e5; }

.border_padding {
  width: 92%;
  margin: 0 auto; }

.border_hou {
  clear: both;
  width: 100%;
  height: 0.5rem;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  background: #F3F3F3; }
