@charset "UTF-8";
html {
  font-family: "黑体"; }

body {
  width: 100%;
  height: 100%;
  background: #FFFFFF; }

.container {
  padding-bottom: 2rem; }

.aui-slide-page-active {
  background: #FFFfff; }

.price_button {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  height: 3.75rem;
  align-items: center; }
  .price_button .price .title_name {
    font-size: 0.85rem;
    color: #333333;
    font-weight: bold; }
  .price_button .price .score_every {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between; }
    .price_button .price .score_every .score {
      margin-top: 0.25rem;
      width: 2.95rem;
      height: 0.5rem;
      background: url(../../../images/merchant/star002.png) no-repeat;
      background-size: 2.95rem 0.5rem;
      margin-right: 0.5rem; }
      .price_button .price .score_every .score span {
        display: block;
        width: 2rem;
        height: 0.5rem;
        background: url(../../../images/merchant/star001.png) no-repeat;
        background-size: 2.95rem 0.5rem; }
    .price_button .price .score_every .every_body {
      height: 0.55rem;
      font-size: 0.55rem;
      color: #666666;
      margin-top: 0.25rem; }
  .price_button .buy_immedia {
    width: 3.75rem;
    height: 1.75rem;
    font-size: 0.75rem;
    color: #FFFFFF;
    border-radius: 0.2rem;
    background: #FF9B03;
    line-height: 1.75rem;
    text-align: center; }

.market_msg {
  height: 4.8rem;
  overflow: hidden; }
  .market_msg .msg {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    overflow: hidden; }
    .market_msg .msg .msg_left {
      width: 12.9rem; }
      .market_msg .msg .msg_left .m_address {
        font-size: 0.6rem;
        color: #666666;
        margin-top: 0.4rem;
        margin-left: 1.2rem; }
      .market_msg .msg .msg_left .m_distance {
        display: flex;
        display: -webkit-flex; }
        .market_msg .msg .msg_left .m_distance i {
          color: #E95039;
          margin-right: 0.4rem; }
        .market_msg .msg .msg_left .m_distance span {
          display: block;
          font-size: 0.75rem;
          color: #333333; }
    .market_msg .msg .msg_right {
      width: 3.5rem;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      -webkit-border-left: 1px solid #e5e5e5;
      border-left: 1px solid #e5e5e5; }
      .market_msg .msg .msg_right p {
        height: 2rem;
        margin-right: 1rem;
        margin-top: 0.8rem; }
        .market_msg .msg .msg_right p i {
          font-size: 1.2rem;
          color: #FE5F35; }

.cashtickets .quan_logo i {
  color: #FE9B01;
  font-size: 0.7rem; }

.cashtickets .quan_logo span {
  font-size: 0.75rem;
  color: #333333; }

.cashtickets .quan_msg li {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
  padding-bottom: 0.85rem;
  margin-top: 0.75rem;
  border-bottom: 1px solid #E5E5E5; }
  .cashtickets .quan_msg li .quan_price p {
    margin-bottom: 0.4rem; }
    .cashtickets .quan_msg li .quan_price p span {
      font-size: 0.7rem;
      color: #fb4e44;
      font-weight: bold;
      margin-right: 0.7rem; }
    .cashtickets .quan_msg li .quan_price p i {
      font-size: 0.7rem;
      color: #333333;
      font-style: normal; }
  .cashtickets .quan_msg li .quan_price .quan_userules {
    font-size: 0.6rem;
    color: #999999; }
  .cashtickets .quan_msg li .arraw_i {
    color: #bcbcbc; }

.tuantickets .tuan_logo i {
  color: #25CFC0;
  font-size: 0.7rem; }

.tuantickets .tuan_logo span {
  font-size: 0.75rem;
  color: #333333; }

.tuantickets .tuan_list {
  overflow: hidden; }
  .tuantickets .tuan_list li {
    border-bottom: 1px solid #E5E5E5; }
    .tuantickets .tuan_list li a {
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      align-items: center;
      -webkit-align-items: center;
      margin-bottom: 0.5rem;
      margin-top: 0.75rem;
      color: #BCBCBC; }
      .tuantickets .tuan_list li a .tuan_list_licontain {
        display: flex;
        display: -webkit-flex; }
        .tuantickets .tuan_list li a .tuan_list_licontain .logo_img {
          width: 3.25rem;
          height: 2.75rem;
          overflow: hidden;
          border-radius: 0.2rem;
          border: 1px solid #efefef; }
          .tuantickets .tuan_list li a .tuan_list_licontain .logo_img img {
            display: block; }
        .tuantickets .tuan_list li a .tuan_list_licontain .tuan_msg {
          margin-top: -0.6rem;
          margin-left: 0.5rem; }
          .tuantickets .tuan_list li a .tuan_list_licontain .tuan_msg .tuan_msg_name {
            font-size: 0.75rem;
            color: #333333; }
          .tuantickets .tuan_list li a .tuan_list_licontain .tuan_msg .tuan_msg_userules {
            font-size: 0.6rem;
            color: #999999; }
          .tuantickets .tuan_list li a .tuan_list_licontain .tuan_msg .tuan_msg_price {
            margin-top: 0.1rem;
            margin-bottom: 0.4rem; }
            .tuantickets .tuan_list li a .tuan_list_licontain .tuan_msg .tuan_msg_price span {
              font-size: 0.7rem;
              color: #fb4e44;
              font-weight: bold;
              margin-right: 0.7rem; }
            .tuantickets .tuan_list li a .tuan_list_licontain .tuan_msg .tuan_msg_price i {
              font-size: 0.7rem;
              color: #333333;
              font-style: normal; }
      .tuantickets .tuan_list li a .tuan_market_logo {
        width: 3.25rem;
        height: 2.75rem;
        border: 1px solid #E5E5E5;
        border-radius: 0.2rem; }
  .tuantickets .tuan_list li:last-child {
    border: none; }

.market_special {
  overflow: hidden; }
  .market_special .special {
    font-size: 0.7rem;
    color: #333333;
    font-weight: bold; }
  .market_special .special_goods {
    font-size: 0.6rem;
    color: #666666; }

.eveal {
  overflow: hidden; }
  .eveal .eveal_all {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between; }
    .eveal .eveal_all .eval_top {
      font-size: 0.7rem;
      color: #333333;
      font-weight: bold; }
    .eveal .eveal_all i {
      color: #BCBCBC; }
  .eveal .eveal_contain {
    display: flex;
    display: -webkit-flex;
    border-bottom: 1px solid #E5E5E5; }
    .eveal .eveal_contain:last-child {
      border-bottom: none; }
    .eveal .eveal_contain .eveal_personphoto {
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 50%;
      margin-right: 0.5rem; }
    .eveal .eveal_contain .eveal_list_person {
      width: 100%;
      overflow: hidden; }
      .eveal .eveal_contain .eveal_list_person .eveal_name_time {
        display: flex;
        display: -webkit-flex;
        justify-content: space-between;
        -webkit-justify-content: space-between;
        align-items: center;
        -webkit-align-items: center; }
        .eveal .eveal_contain .eveal_list_person .eveal_name_time p:nth-child(1) {
          font-size: 0.75rem;
          color: #333333; }
        .eveal .eveal_contain .eveal_list_person .eveal_name_time p:nth-child(2) {
          font-size: 0.6rem;
          color: #999999;
          margin-right: 0.5rem; }
      .eveal .eveal_contain .eveal_list_person .eveal_score_person {
        display: -webkit-flex;
        display: flex; }
        .eveal .eveal_contain .eveal_list_person .eveal_score_person .eveal_score {
          margin-top: 0.25rem;
          width: 2.95rem;
          height: 0.5rem;
          background: url(../../../images/merchant/star002.png) no-repeat;
          background-size: 2.95rem 0.5rem;
          margin-right: 0.5rem;
          font-size: 0.5rem;
          color: #666666; }
          .eveal .eveal_contain .eveal_list_person .eveal_score_person .eveal_score span {
            display: block;
            width: 2rem;
            height: 0.5rem;
            background: url(../../../images/merchant/star001.png) no-repeat;
            background-size: 2.95rem 0.5rem; }
        .eveal .eveal_contain .eveal_list_person .eveal_score_person p {
          font-size: 0.55rem;
          color: #666666;
          height: 0.55rem;
          margin-top: 0.25rem; }
      .eveal .eveal_contain .eveal_list_person .eveal_content {
        font-size: 0.65rem;
        color: #666666;
        margin-top: 0.35rem; }
      .eveal .eveal_contain .eveal_list_person .eveal_photos {
        display: -webkit-flex;
        display: flex;
        margin-top: 0.5rem; }
        .eveal .eveal_contain .eveal_list_person .eveal_photos img {
          width: 4.1rem;
          height: 4.0rem;
          margin-right: 0.85rem; }

.market_provide {
  overflow: hidden; }
  .market_provide .provide_title {
    font-size: 0.7rem;
    color: #333333;
    font-weight: bold; }
  .market_provide .provide_img img {
    width: 1rem;
    height: 1rem;
    margin: 0 auto;
    margin-bottom: 0.25rem; }
  .market_provide .provide_img p {
    font-size: 0.55rem;
    color: #333333; }
  .market_provide .provide_pro {
    border-top: 1px dashed #e5e5e5;
    text-indent: 1.2rem;
    font-size: 0.6rem;
    color: #999999;
    line-height: 1.2rem; }

.market_more {
  overflow: hidden; }
  .market_more .more_title {
    font-size: 0.7rem;
    color: #333333;
    font-weight: bold; }
  .market_more .market_more_list ul li {
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid #E5E5E5; }
    .market_more .market_more_list ul li .market_logo_img {
      width: 4.25rem;
      height: 3.25rem;
      margin-right: 0.75rem;
      border-radius: 0.2rem;
      border: 1px solid #efefef;
      overflow: hidden; }
      .market_more .market_more_list ul li .market_logo_img img {
        display: block; }
    .market_more .market_more_list ul li .market_more_msg {
      width: 100%; }
      .market_more .market_more_list ul li .market_more_msg .market_more_name_wai {
        display: -webkit-flex;
        display: flex; }
        .market_more .market_more_list ul li .market_more_msg .market_more_name_wai p {
          font-size: 0.75rem;
          color: #333333; }
        .market_more .market_more_list ul li .market_more_msg .market_more_name_wai img {
          width: 0.65rem;
          height: 0.65rem;
          margin-top: 0.2rem;
          margin-left: 0.2rem; }
      .market_more .market_more_list ul li .market_more_msg .market_more_score_person {
        display: -webkit-flex;
        display: flex; }
        .market_more .market_more_list ul li .market_more_msg .market_more_score_person .market_more_score {
          margin-top: 0.25rem;
          width: 2.95rem;
          height: 0.5rem;
          background: url(../../../images/merchant/star002.png) no-repeat;
          background-size: 2.95rem 0.5rem;
          margin-right: 0.5rem;
          font-size: 0.5rem;
          color: #666666; }
          .market_more .market_more_list ul li .market_more_msg .market_more_score_person .market_more_score span {
            display: block;
            width: 2rem;
            height: 0.5rem;
            background: url(../../../images/merchant/star001.png) no-repeat;
            background-size: 2.95rem 0.5rem; }
        .market_more .market_more_list ul li .market_more_msg .market_more_score_person .market_more_person {
          height: 0.55rem;
          font-size: 0.55rem;
          color: #666666;
          margin-top: 0.25rem; }
      .market_more .market_more_list ul li .market_more_msg .market_more_address {
        margin-top: 0.5rem;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between; }
        .market_more .market_more_list ul li .market_more_msg .market_more_address span:nth-child(1) {
          font-size: 0.6rem;
          color: #666666; }
        .market_more .market_more_list ul li .market_more_msg .market_more_address span:nth-child(2) {
          font-size: 0.6rem;
          color: #666666; }

.border {
  border-top: 1px solid #e5e5e5; }

.border_padding {
  width: 92%;
  margin: 0 auto; }

.border_hou {
  clear: both;
  width: 100%;
  height: 0.5rem;
  border-top: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  background: #F3F3F3; }

/*cover*/
#cover {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; }

#cover > img {
  display: block;
  width: 70%;
  position: absolute;
  top: 1%;
  right: 7.2%; }
