.lottery_choiced{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: rgba(0,0,0,0.8);	
}
.lottery_choiced_new{
	width: 6rem;
	height: 8rem;
	margin:4rem auto;
	background: #fff;
}
.lottery_choiced .lottery_img{
	width: 6rem;
    height: 7rem;
    margin: 4rem auto;
   /* background: url(../../../images/lottery_choiced.gif) no-repeat;
    background-size: 100% 100%;*/
    /* border: 2px solid transparent; */
    position: relative;
}
.lottery_choiced .lottery_img .cancel_msg{
	width: 1rem;
	height: 1rem;
	color:#FFFFFF;
	font-size: 0.8rem;
	text-align: center;
	line-height: 1rem;
	position: absolute;
	right: 0px;
}
.lottery_choiced .lottery_img .cancel_msg:hover,.lottery_img .cancel_msg:focus{
	animation: mycancel 1s ease-in-out 0.1s;
	/* Firefox: */
	-moz-animation: mycancel 1s ease-in-out 0.1s;
	/* Safari 和 Chrome: */
	-webkit-animation: mycancel 1s ease-in-out 0.1s;
	/* Opera: */
	-o-animation: mycancel 1s ease-in-out 0.1s;
	
}
@keyframes mycancel{
	from{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes mycancel{
	from{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}
@-moz-keyframes mycancel{
	from{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}
.lottery_choiced .lottery_img .text_goods{
	width: 2.8rem;
    height: 1.2rem;
    margin: 2.2rem 0.6rem 0rem;
    font-size: 0.4rem;
    font-weight: 900;
    padding: 0.2rem;
    padding-top: 2.8rem;
    padding-left: 0rem;
    text-align: center;
    font-family: "黑体";
}
.lottery_choiced .lottery_img .text_compete{
	width: 5rem;
    height: 1rem;
    margin: 0.7rem auto 0rem;
    text-align: justify;
    font-size: 0.36rem;
    color: #e01523;
    font-family: "黑体";
    line-height: 0.6rem;
}
.lottery_choiced .lottery_img .compete_btn{
	display: block;
    width: 5rem;
    height: 1rem;
    border-radius: 0.2rem;
    font-size: 0.6rem;
    font-weight: bold;
    font-family: "黑体";
    text-align: center;
    line-height: 1rem;
    margin: 0.6rem auto 0rem;
    background: #e01521;
    color: #FFFFFF;
}


/*未中奖*/
.lottery_unchoiced{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: rgba(0,0,0,0.8);	
}
.lottery_unchoiced .lottery_img{
	width: 6rem;
	height: 7rem;
	margin:4rem auto;
	/*background: url(../../../images/lottery_unchoiced.gif) no-repeat;
	background-size:100% 100%;*/
	border: 2px solid transparent;
	position: relative;
}
.lottery_unchoiced .lottery_img .cancel_msg{
	width: 1rem;
	height: 1rem;
	color:#FFFFFF;
	font-size: 0.8rem;
	text-align: center;
	line-height: 1rem;
	position: absolute;
	right: 0px;
}
.lottery_unchoiced .lottery_img .cancel_msg:hover,.lottery_img .cancel_msg:focus{

	animation: mycanceln 1s ease-in-out 0.1s;
	/* Firefox: */
	-moz-animation: mycanceln 1s ease-in-out 0.1s;
	/* Safari 和 Chrome: */
	-webkit-animation: mycanceln 1s ease-in-out 0.1s;
	/* Opera: */
	-o-animation: mycanceln 1s ease-in-out 0.1s;
	
}
@keyframes mycanceln{
	from{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}
@-webkit-keyframes mycanceln{
	from{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}
@-moz-keyframes mycanceln{
	from{
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
	}
}
/*.lottery_unchoiced .lottery_img .text_goods{
	width: 2.8rem;
    height: 1.2rem;
    margin: 2.2rem 0.6rem 0rem;
    font-size: 0.4rem;
    font-weight: 900;
    padding:0.2rem;
    padding-top: 0.3rem;
    padding-left: 0rem;
    text-align: center;
    font-family: "黑体";
}*/
.lottery_unchoiced .lottery_img .text_compete{
	width: 6rem;
    height: 1.1rem;
    margin: 4.5rem auto 0rem;
    text-align: center;
    line-height: 1rem;
    font-size: 0.32rem;
    color: #f19a00;
    font-family: "黑体";
}
.lottery_unchoiced .lottery_img .compete_btn{
	display: block;
	width:5rem;
	height: 1rem;
	border-radius: 0.2rem;
	font-size: 0.6rem;
	font-weight: bold;
	font-family: "黑体";
	text-align: center;
	line-height: 1rem;
	margin:0 auto;
	background: #e01521;
	color: #FFFFFF;
}
.ch_content{
	display: block;
}
.lottery_unchoiced .alert_shared{
	display:none;
	width:5rem;
	height: 1rem;
	font-size: 0.6rem;
	font-weight: bold;
	font-family: "黑体";
	text-align: center;
	line-height: 1rem;
	margin:5.2rem auto 0rem;
	color: #f19a00;
}
/*抽奖次数用金弹窗*/
.alert_msg{
	display: none;
	width: 4rem;
	height: 1rem;
	text-align: center;
	line-height: 1rem;
	margin: 0 auto;
	border-radius: 0.1rem;
	position: absolute;
	left: 0;
	top: 50%;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: rgba(0,0,0,0.6);	
}
.alert_msg{
	color:#FFFFFF ;
	font-size: 0.4rem;
    font-family: arial;
}
