/*原始-小幸运奖---谢谢参与*/
.anim_disk{
	-webkit-animation: smaLucky 3s linear 0.1s forwards;
	animation: smaLucky 3s linear 0.1s forwards;
	/* Firefox: */
	-moz-animation: smaLucky 3s linear 0.1s forwards;
	/* Safari 和 Chrome: */
	
	/* Opera: */
	-o-animation: smaLucky 3s linear 0.1s forwards;
}
@keyframes smaLucky{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1440deg);
	}
}
@-webkit-keyframes smaLucky{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1440deg);
	}
}
@-moz-keyframes smaLucky{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1440deg);
	}
}
@-ms-keyframes smaLucky{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1440deg);
	}
}
/*二等奖*/
.anim_disk_second{
		/* Safari 和 Chrome: */
	-webkit-animation: mySecond 3s linear 0.1s forwards;
	animation: mySecond 3s linear 0.1s forwards;
	/* Firefox: */
	-moz-animation: mySecond 3s linear 0.1s forwards;

	/* Opera: */
	-o-animation: mySecond 3s linear 0.1s;
}
@keyframes mySecond{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1500deg);
	}
}
@-webkit-keyframes mySecond{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1500deg);
	}
}
@-moz-keyframes mySecond{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1500deg);
	}
}
@-ms-keyframes mySecond{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1500deg);
	}
}
/*参与奖---小幸运奖*/
.anim_disk_join{
	/* Safari 和 Chrome: */
	-webkit-animation: myjoin 3s linear 0.1s forwards;
	animation: myjoin 3s linear 0.1s forwards;
	/* Firefox: */
	-moz-animation: myjoin 3s linear 0.1s forwards;
	
	/* Opera: */
	-o-animation: myjoin 3s linear 0.1s;
}
@keyframes myjoin{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1560deg);
	}
}
@-webkit-keyframes myjoin{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1560deg);
	}
}
@-moz-keyframes myjoin{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1560deg);
	}
}
@-ms-keyframes myjoin{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1560deg);
	}
}
/*三等奖*/
.anim_disk_third{
	/* Safari 和 Chrome: */
	-webkit-animation: mythird 3s linear 0.1s forwards;
	animation: mythird 3s linear 0.1s forwards;
	/* Firefox: */
	-moz-animation: mythird 3s linear 0.1s forwards;
	
	/* Opera: */
	-o-animation: mythird 3s linear 0.1s;
}
@keyframes mythird{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1620deg);
	}
}
@-webkit-keyframes mythird{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1620deg);
	}
}
@-moz-keyframes mythird{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1620deg);
	}
}
@-ms-keyframes mythird{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1620deg);
	}
}
/*幸运大奖*/
.anim_disk_thank{
		/* Safari 和 Chrome: */
	-webkit-animation: mythank 5s ease-in-out 0.1s forwards;
	animation: mythank 5s ease-in-out 0.1s forwards;
	/* Firefox: */
	-moz-animation: mythank 5s ease-in-out 0.1s forwards;

	/* Opera: */
	-o-animation: mythank 5s easy-in-out 0.1s;
}
@keyframes mythank{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1680deg);
	}
}
@-webkit-keyframes mythank{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1680deg);
	}
}
@-moz-keyframes mythank{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1680deg);
	}
}
@-ms-keyframes mythank{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1680deg);
	}
}
/*一等奖*/
.anim_disk_first{
		/* Safari 和 Chrome: */
	-webkit-animation: myfirst 3s ease-in-out 0.1s forwards;
	animation: myfirst 3s ease-in-out 0.1s forwards;
	/* Firefox: */
	-moz-animation: myfirst 3s ease-in-out 0.1s forwards;

	/* Opera: */
	-o-animation: myfirst 3s ease-in-out 0.1s;
}
@keyframes myfirst{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1740deg);
	}
}
@-webkit-keyframes myfirst{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1740deg);
	}
}
@-moz-keyframes myfirst{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1740deg);
	}
}
@-ms-keyframes myfirst{
	from{
		transform:rotate(0deg);
	}
	to{
		transform:rotate(1740deg);
	}
}