html{
	font-size: 75px;
	-webkit-overflow-scrolling : touch;
}
body {
	margin: 0 auto;
	width: 100%;
	height:100%;
	overflow: auto;
}
.container {
	padding-bottom: 3rem;
	overflow: hidden;
}
.bg_img{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	left: 0px;
	top: 0px;
}
.bg_img img{
	display: block;
	width:100%;
	height:100%;
	/*position: relative;*/
}
.content{
	overflow: hidden;
	width: 100%;
	height: auto;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 2;
	/*margin-bottom: 40px;*/
}
.lottery_lucky{
	width: 100%;
	height: 2.91rem;
	/*position: absolute;
	left: 0px;
	top: 36%;*/
	margin-top: 60%;
	overflow: hidden;
	/*background: url(../../../images/lottery_name_lucky.png) no-repeat left center;
	background-size: cover;*/
}
.lottery_lucky img{
	display: block;
	width: 100%;
	height: 100%;
	/*position: relative;
	left: 0px;
	top: 0px;*/
}
.lotteryperson_msg{
	width: 100%;
	text-align: center;
	position: relative;
	top:-1.38rem;
	left: 0px;
	margin:0 auto;
}
.lotteryperson_msg span{
	font-size: 0.4rem;
	color: #FFFFFF;
}

.first_lottery{
	overflow: hidden;
	width: 100%;
	height: auto;
	/*position: absolute;
	left: 0px;
	top: 52%;*/
	margin: 0.36rem auto 0rem;
	
	
}
.first_namemsg{
	width: 85%;
	height: 3.5rem;
	border: 0.12rem solid #ff572e;
	border-radius: 0.24rem;
	margin: 0 auto;
	background: #FCFFDA;
	color: #333333;
	font-size: 0.4rem;
	overflow: hidden;
}

.first_namemsg li{
	margin-bottom:0.36rem;
	height: 0.6rem;
}
.first_namemsg li span:nth-child(1){
	display: block;
	float: left;
	margin-left: 0.5rem;
    padding: 0 0.5rem 0 0;
}
.first_namemsg li span:nth-child(2){
	display: block;
	float: left;
	width: 2rem;
	/*margin-right: 0.2rem;
	padding: 0 0.5rem 0 0;*/
}
.first_namemsg li span:nth-child(3){
	display: block;
	float: left;
	margin-left: 0.1rem;
	padding: 0 0.5rem 0 0;
}
.first_namemsg li span:nth-child(4){
	display: block;
	float: left;
	/*margin-left: 0.1rem;
	padding: 0 0.5rem 0 0;*/
}
.first_namemsg li:first-child{
	margin-top:0.6rem;
}
.first_namemsg li:last-child{
	margin-bottom: 0.6rem;
}
.first_lottery img{
	height: 0.78rem;
	text-align: center;
	margin: 0rem auto 0.3rem;
}

/*er*/
.second_lottery{
	clear: both;
	overflow: hidden;
	width: 100%;
	height: auto;
	/*position: absolute;
	left: 0px;
	top: 52%;*/
	margin: 0.6rem auto 0rem;
	
	
}
.second_namemsg{
	clear: both;
	width: 85%;
	height: auto;
	border: 0.12rem solid #ff572e;
	border-radius: 0.24rem;
	margin: 0 auto;
	background: #FCFFDA;
	color: #333333;
	font-size: 0.4rem;
}

.second_namemsg li{
	margin-bottom:0.36rem;
}
.second_namemsg li span:nth-child(1){
	display: block;
	float: left;
	margin-left: 0.5rem;
    padding: 0 0.5rem 0 0;
}
.second_namemsg li span:nth-child(2){
	display: block;
	float: left;
	width: 2rem;
}
.second_namemsg li span:nth-child(3){
	display: block;
	float: left;
	
}
.second_namemsg li span:nth-child(4){
	display: block;
	float: left;
}
.second_namemsg li:first-child{
	margin-top:0.6rem;
}
.second_namemsg li:last-child{
	margin-bottom: 0.6rem;
}
.second_lottery img{
	height: 0.78rem;
	text-align: center;
	margin: 0rem auto 0.3rem;
}

/*san*/
.third_lottery{
	overflow: hidden;
	width: 100%;
	height: auto;
	/*position: absolute;
	left: 0px;
	top: 52%;*/
	margin: 0.6rem auto 0rem;
	
	
}
.third_namemsg{
	width: 85%;
	height: auto;
	border: 0.12rem solid #ff572e;
	border-radius: 0.24rem;
	margin: 0 auto;
	background: #FCFFDA;
	color: #333333;
	font-size: 0.4rem;
}

.third_namemsg li{
	margin-bottom:0.36rem;
}
.third_namemsg li span:nth-child(1){
	display: block;
	float: left;
	margin-left: 0.5rem;
    padding: 0 0.5rem 0 0;
}
.third_namemsg li span:nth-child(2){
	display: block;
	float: left;
	width: 2rem;
	/*margin-right: 0.2rem;
	padding: 0 0.5rem 0 0;*/
}
.third_namemsg li span:nth-child(3){
	display: block;
	float: left;
	margin-left: 0.1rem;
	padding: 0 0.5rem 0 0;
}
.third_namemsg li span:nth-child(4){
	display: block;
	float: left;
	/*margin-left: 0.1rem;
	padding: 0 0.5rem 0 0;*/
}
.third_namemsg li:first-child{
	margin-top:0.6rem;
}
.third_namemsg li:last-child{
	margin-bottom: 0.6rem;
}
.third_lottery img{
	height: 0.78rem;
	text-align: center;
	margin: 0rem auto 0.3rem;
}
/*small_lucky*/
.small_lucky_lottery{
	overflow: hidden;
	width: 100%;
	height: auto;
	/*position: absolute;
	left: 0px;
	top: 52%;*/
	margin: 0.6rem auto 0rem;
	
	
}
.small_namemsg{
	width: 85%;
	height: auto;
	border: 0.12rem solid #ff572e;
	border-radius: 0.24rem;
	margin: 0 auto;
	background: #FCFFDA;
	color: #333333;
	font-size: 0.4rem;
}

.small_namemsg li{
	margin-bottom:0.36rem;
}
.small_namemsg li span:nth-child(1){
	display: block;
	float: left;
	margin-left: 0.5rem;
    padding: 0 0.5rem 0 0;
}
.small_namemsg li span:nth-child(2){
	display: block;
	float: left;
	width: 2rem;
	/*margin-right: 0.2rem;
	padding: 0 0.5rem 0 0;*/
}
.small_namemsg li span:nth-child(3){
	display: block;
	float: left;
	margin-left: 0.1rem;
	padding: 0 0.5rem 0 0;
}
.small_namemsg li span:nth-child(4){
	display: block;
	float: left;
	/*margin-left: 0.1rem;
	padding: 0 0.5rem 0 0;*/
}
.small_namemsg li:first-child{
	margin-top:0.6rem;
}
.small_namemsg li:last-child{
	margin-bottom: 0.6rem;
}
.small_lucky_lottery img{
	height: 0.78rem;
	text-align: center;
	margin: 0rem auto 0.3rem;
}


/*bottom_img*/
.bottom_img{
	width: 100%;
	height: 2rem;
	background: url(../../../images/bottom_img.png) no-repeat;
	background-size: 100% 100%;
}
.bottom_img img{
	display: block;
	width: 100%;
	height: 100%;
}
